.body {
  margin: 20px;
  display: block;
}

.auto { width:auto; }
.min { width:min-content; }
.max { width:max-content; }
.fit { width:fit-content; }

.main-header {
  padding: 15px 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header-list-items ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}
.header-button button {

  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #bee1e6;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000000;
  font-weight: 500px;
  font-size: 14px;
  
}
.header-button button img{    
  padding-left: 5px;
}

.image-text {
  background-color: #6ac9d8;
  display: flex;
  flex-direction: row;
  align-items: center;
 margin: -8px;
  flex: 100%;
  padding: 65px 106px;

}
.text {
  flex: 60%;
  gap: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image {
  flex: 30%;

  display: flex;
  flex-direction: row;
}
.digital-btn button {
  background-color: #006d77;
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.advanced-para {
  
  font-size: 27px;
  font-weight: 800;
  font-family: Roboto;
  
}
.small-para {
  font-size: 18px;
}
.text-btn {
  width: 100%;
  color: #444444;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 55px;

}
.get-btn {
  background-color: black;
  padding: 15px;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  justify-content: space-around;
  width: 175px;
}
.how-btn {

  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid black;
  background-color: #BEE1E6;
  outline: none;
  width: 165px;
}

.image1{

  width: 520px;
  height: 750px;
 
}

.btn-images {
  margin: 50px;
  padding-bottom: 200px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  gap: 10px;
}


.differ{
  width: 444px;
}
.up {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  padding-left:150px;
}
.bottom {
  flex-wrap: wrap;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 120px;
  padding-left: 125px;
}
hr {
  margin: 50px 190px;
}
.image-text1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-evenly;
  text-align: justify;
  align-content: space-evenly;

}
.image1 {
  display: flex;
  
  flex-direction: column;

}
.text1 {
  display: flex;
  flex-direction: column;
} 
.text1 h1{
  font-weight: 600px;
  font-size: 38px;
  width: 500px;
}
.relative {
  border-radius: 10px;
}
.digital-btn {
  background-color: #006d77;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  width: fit-content;
}
.small-font{
  width: 500px;
  text-align: justify;

  
}
.small-image-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bold {
  font-weight: 600;
}
/* .fresh-ideas{
display: flex;
flex-direction: column;

width: 500px;
/* border-left: 500px; */

  
.fresh-ideas p{
display: flex;
flex-direction: column;
align-content: center;
 text-align: center;
 width: 550px;

}
.fresh-ideas{
 display: flex;
 flex-direction:  column;
 align-items: center;
 margin-top: -117px;
 margin-bottom: 55px;
}
.heading-text{
  font-size: 33px;
}
.fresh-idea-images-text-para{
width: 330px;
}

.fresh-idea-images-text{
  display: flex;
  flex-direction: row;
 align-content: space-around;
 align-items: center;
 justify-content: space-evenly;
 padding-bottom: 182px;
 margin-bottom: 10px;
}


.top-leading-company-header {
  background-color: #BEE1E6;
  display: flex; 
  padding: 100px 50px;
  margin-right: -7px;
  margin-left:-7px ;
}

.top-leading-company div h1{
  width: 633px;
}

.top-leading-company {
  width: 60%; 
}

.top-leading-company-section-two{
   width: 40%;
}

.mall-image-text img{
  /* width: 45px; */
  height: 45px;
  padding: 5px;

}
.fl-ex{
  display: flex;
  justify-content:space-between ;
}
.mypar{
  width: 45%;
}
.mall-image-text{
  display: flex;
  flex-direction: row;
}
.left-jus{
  width: 325px;
}

.top-leading-company-text-align p{
width: 55px;
}

.final-para-bottom{
  width: 255px;
  text-align: justify;
}
.final-bottom-header-top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.final-cent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 
}
.final-bottom-header-top{
margin: 35px;
}

footer{
  background-color: #006D77;
  text-align: center;
color: azure;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
  
padding: 43px;
border-radius: 0px 0px 0px 0px;
margin-top: 25px;
margin-right: -8px;
margin-left: -8px;
margin-bottom: -8px;
}


@media screen and (max-width: 768px)  {
  .header-list-items ul{
    display:none ; 
  }

button.digital-btn{ 

padding: 0px 15px ;
}

.fresh-ideas{

padding: 0px 15px ;

} 

.text1{
  width: 100px;
  padding-left:0px 15px;
  }
  .fresh-ideas{
    display: flex;
    flex-direction:  column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -170px;
   }

   .top-leading-company-header{
    display: flex;
    flex-direction: column;
    
    height: 1400px;
    width: 868px;
    justify-content: center;
    text-align: center;
    padding-left: 0px 15px;
    margin-right: -20px;
  }
  .top-leading-company {
    width: 100%; 
  }
  
  .top-leading-company-section-two{
    width: 100%;
    
 }

}
@media screen and (max-width: 768px)  {

  .image1{
    width:330px
  }

  .text1{

    width: 100%;
    padding-right:  15px;
  }
  @media screen and (max-width: 768px) {

    .top-leading-company {

      width:100%


    }
    
  }

  @media screen and (max-width: 768px) {

    .top-leading-company-header {

      width:100%


    }

    @media screen and (max-width: 768px) {

      .image-text{

        width:100%
      }

    
  }









}